.menuItem {
  display: flex;
  align-items: center;
  padding: 6.5px;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 4px;
}

.menuItem:hover {
  background-color: rgba(0,0,0,0.05); /* cor neutra */
}

.ativo {
  font-weight: bold;
  text-decoration: underline;
  /* Remova a cor fixa, deixe o componente decidir via inline style */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.label {
  font-size: 1rem;
  font-weight: 700;
}
