.form-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 colunas */
  gap: 20px;
}

.form-field {
  grid-column: span 12; /* Por padrão, ocupa toda a largura */
}

.input {

  height: 40px !important; /* Reduz altura */
}
.mensegeError {
  margin-top: 4px;
  color: red;
}
